<table class="table">
    <thead>
        <tr>
            <th scope="col">Zeitpunkt</th>
            <th scope="col">Pause</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Bookings)
        {
            <tr>
                <td>@booking.BookingTime.ToShortTimeString()</td>
                <td>@(booking.IsPause ? "Pause" : "")</td>
                <td>
                    <button @onclick="async () => { await Edit(booking); }" class="btn btn-primary">Zeit ändern</button>
                    <button @onclick="async () => { await Delete(booking); }" class="btn btn-warning">Zeit löschen</button>
                </td>
            </tr>
        }
    </tbody>
</table>
