<div class="toggle-day-controls-info">
    <h3>Info</h3>
    <div class="flex-tab">
        <div class="flex-r">
            <div class="flex-c">
                Sollarbeitszeit: @SollArbeitszeit.ToString("N2");
            </div>
            <div class="flex-c">
                Corona Sollarbeitszeit: @CoronaSollArbeitszeit.ToString("N2");
            </div>
        </div>
    </div>
</div>
