<div class="toggle-day-controls-info">
    <h3>Info</h3>
    <div class="flex-tab">
        <div class="flex-r">
            <div class="flex-c">
                Soll Arbeitszeit: @SollArbeitszeit.ToString("N2")
            </div>
            <div class="flex-c">
                Corona Sollausfallzeit: @KAAusfall.ToString("N2")
            </div>
            <div class="flex-c">
                Tagesarbeitszeit: @Tagesarbeitszeit.ToString("N2")
            </div>
        </div>
        <div class="flex-r">
            <div class="flex-c">
                Ist Arbeitszeit: @IstArbeitszeit
            </div>
            <div class="flex-c">
                Kurzarbeits Topf: @KuaZeit
            </div>
            <div class="flex-c">
                VAZ Topf: @VAZeit.ToString("N2")
            </div>
        </div>
    </div>
</div>
