@using CoronaKurzArbeit.Shared.Extensions;

<div class="timespandisplay">
    <span>@Label</span>
    <span class="@(IsNeg ? "tsd-neg" : "tsd-pos")">@Value</span>
</div>

@code {
    [Parameter]
    public TimeSpan TheTimeSpan { get; set; } = TimeSpan.Zero;

    [Parameter]
    public string Label { get; set; } = string.Empty;

    public string Value { get; set; } = string.Empty;

    public bool IsNeg { get; set; } = false;

    protected override void OnParametersSet()
    {

        if(TheTimeSpan < TimeSpan.Zero)
        {
            IsNeg = true;
        } else
        {
            IsNeg = false;
        }

        Value = TheTimeSpan.NiceTimespan();
    }
}
