.day-toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 30px; }
  .day-toggle .dt_left {
    margin-right: 50px;
    cursor: pointer; }
  .day-toggle .dt_right {
    margin-left: 50px;
    cursor: pointer; }

.flex-tab {
  display: flex;
  flex-direction: column; }
  .flex-tab .flex-r {
    display: flex;
    flex-direction: row; }
    .flex-tab .flex-r .flex-c {
      padding: 10px; }

.timespandisplay {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px; }
  .timespandisplay span:first-child {
    font-size: 10px; }
  .timespandisplay span:last-child {
    font-size: 15px; }

.tsd-pos {
  color: green; }

.tsd-neg {
  color: red; }

.line {
  display: flex;
  flex-direction: row; }

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid black; }

.list-container {
  width: 60%;
  border: 1px solid red;
  margin-right: 20px; }

.info-container {
  width: 33%;
  border: 1px solid blue;
  justify-content: center; }

.flex-left {
  justify-content: left; }

.flex-center {
  justify-content: center; }

.flex-right {
  justify-content: right; }

.top-spacer {
  margin-top: 20px; }
