@page "/"

<div class="container">
    <WeekStatus />
    <DayToggle />
    <div class="line">
        <div class="list-container">
            <DayTimeList />
        </div>
        <div class="info-container">
            <Info />
        </div>
    </div>
</div>

@code {

    

}