<div class="simple-form">

    <div class="form-group">
        <label for="message">Zeit buchen</label>
        <input type="time" class="form-control" @bind="Time" />
    </div>
    <div class="form-group">
        <input class="form-check-input" type="checkbox" @bind="Pause" id="PauseCheckbox">
        <label class="form-check-label" for="PauseCheckbox">
            Pause
        </label>
    </div>
</div>

<button @onclick="SubmitForm" class="btn btn-primary">Submit</button>
<button @onclick="Cancel" class="btn btn-secondary">Cancel</button>