<div>
    <p>@Message</p>

    <button @onclick="Close" class="btn btn-primary">@OkButtonText</button>
    <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance? BlazoredModal { get; set; }

    [Parameter]
    public string Message { get; set; } = string.Empty;

    [Parameter]
    public string OkButtonText { get; set; } = "Ja";

    void Close() => BlazoredModal?.Close(ModalResult.Ok(true));
    void Cancel() => BlazoredModal?.Cancel();

}