
<div class="simple-form">

    <div class="form-group">
        <label for="message">@TimeLabel</label>
        <input type="time" class="form-control" @bind="Time" />
    </div>

    <button @onclick="SubmitForm" class="btn btn-primary">Submit</button>
    <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
</div>
