<tr>
    <td>@TheDay.ToShortDateString()</td>
    <!--Gekommen-->
    <td>
        @Gekommen
    </td>
    <!--Gegangen-->
    <td>
        @Gegangen
    </td>
    <td>
        @Pause
    </td>
    <td>
        <a href="/day/@TheDay.ToShortDateString()">
            <span class="oi oi-pencil" aria-hidden="true">
            </span>
        </a>
    </td>
</tr>
